
<form [formGroup]="form" (ngSubmit)="searchUser(form)">
     <select formControlName="id" >
      <option *ngFor="let user of users" [value]="user.id">
        {{user.id}} -{{user.name}}
       </option> 
       </select>
    <button  (click)="getPostByUserId(form)">POST</button>
    <br>
         </form>
 
<div *ngIf="user">
  {{user.id|adder:'ID: '}}{{user.name|adder:'--NAME:'}}{{user.username|adder:'--USERNAME: '}} 
   
  </div>
<hr>
<div *ngIf="posts">
  <div *ngFor="let post of posts">
  {{post.id|adder:'ID: '}} 
  <br>
  {{post.title|adder:'TITLE: '}} 
  <br>
  {{post.body|adder:'BODY: '}}
</div>
</div>
 
